# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# MacOS
.DS_Store

# Fabric/Minecraft
run/

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM Crash logs
hs_err_pid*
replay_*.txt
